.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  > div, > a {
    padding: .4em .6em;
    margin: .2em;
    overflow: hidden;
    background: #efefef;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all ease .2s;
    font-weight: 600;
    color: #292929;
    &:hover{
      background: grey;
      color: white;
      transform: translateY(-1px);
      box-shadow: 2px 3px 15px 0 rgba(164, 176, 190, 0.5);
    }
  }
}
