.pokemon__card {
  margin: 1rem;
  width: 10rem;
  height: 4rem;
  padding: 1rem;
  background: white;
  box-shadow:   0 0 1rem #d2d2d2;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;

  &:hover {
    box-shadow:   0 0 1rem #bababa;
  }

  > span {
    color: #4a4a4a;
  }

  > img {
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
